@font-face {
    font-family: "Title";
    src: url("Fonts/Ancient Medium.ttf");
}




/*Variables globales de css*/
:root{
    --taman-cuadricula: 2;
}

html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-image: url("Media/Images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;
}


/*Etiquetas del menu principal*/
#mainMenu{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#leftBox{
    float: left;
    height: 50%;
    text-align: center;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(Media/Images/menuSignL.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#rightBox{
    float: right;
    height: 50%;
    text-align: center;
    width: 40%;
    margin: 0;
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    background-image: url(Media/Images/menuSignR.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#title{
    color: grey;
    padding-top: 20%;
    padding-left: 10%;
    font-family: "Title";
    font-size: 3.2em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#selectorBox{
    padding-left: 10%;
}
#selectorBox div{
    padding: 1%;
}
#botonSelector{

    width: 20%;
    height: 20%;
    border-top-width: 20%;
}

#questionImage{
    width: 10%;
    height: 10%;
    padding: 2%;
    top: 100%;
    transform: translateY(-100%);
    position: relative;
}

/*Etiquetas del la pantalla de juego*/
#game{
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    align-items: center;
}
#scoreBoard{
    width: 20%;
    height: 10%;
    padding-left: 40%;
    padding-right: 40%;
    background-image: url(Media/Images/banner.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#counter{
    top: 50%;
    transform: translateY(50%);
}
#cuadricula{
    padding-top: 20%;
    padding-right: 5%;
    padding-left: 5%;
    display: grid;
    height: 50%;
    width: 90%;
    grid-template-columns: repeat(var(--taman-cuadricula), minmax(10px,20%));   
    grid-auto-rows:minmax(10px, 20%);
    grid-gap: 20px;
}

#player{
    background-image: url("Media/Images/character.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#door{
    background-image: url("Media/Images/background.jpeg");
}
.floor{
    background-image: url("Media/Images/menuSignL.png");
}

.letter{
    background-image: url("Media/Images/menuSignR.png");
}

.enemy{
    background-image: url("Media/Images/enemies.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/*Etiquetas de la pantalla de muerte*/
#deathScreen{
    display: none;
    text-align: center;
}

#deathBox div{
    padding: 1%;
}

/*Etiquetas de la pantalla de victoria*/
#victoryScreen{
    display: none;
    text-align: center;
}

#victoryBox div{
    padding: 1%;
}